In [5]:
import pandas

data_frame = pandas.DataFrame([[2.3, 3.6, 34], [10, 20, 30]], columns = ["fcolumn", "scolumn", "tcolumn"], index = ["first", "second"])

In [6]:
data_frame

        fcolumn  scolumn  tcolumn
first       2.3      3.6       34
second     10.0     20.0       30

In [11]:
df2 = pandas.DataFrame([{"name": "Jack", "surname": "Bond"}, {"name": "Timoty"}])

In [12]:
df2

     name surname
0    Jack    Bond
1  Timoty     NaN

In [13]:
df2.name

0      Jack
1    Timoty
Name: name, dtype: object

In [15]:
data_frame.mean().mean()

16.650000000000002